/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/
html,
body {

  background-image: url('https://i.pinimg.com/736x/1b/7b/c1/1b7bc17f86a3aa83a837b91b363d6e33.jpg');
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */


}

#kirbyImage {
  position: center;

}

#wrapper {
  font-size: 25px;
  font-weight: bold;
  font-family: "Lucida Handwriting", "Courier New", monospace;
  border: 0px solid rgb(199, 42, 42);
  text-align: center;
}
.container {
  display: flex;
  
}


.block {
  font-size: 14px;
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  font-family: "Lucida Handwriting", "Courier New", monospace;
}

.block:first-child {
  border-right: none;
}

.block:last-child {
  border-left: none;
}

.block ul {
  margin-top: 0;
  padding-left: 20px;
  list-style-type: none; /* Remove bullet points */
  text-align: center; /* Align list items to the left */
}