/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
}

#wrapper {
  border: 1px solid blue;
  text-align: center;
}
.container {
  display: flex;
}


.block {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

.block:first-child {
  border-right: none;
}

.block:last-child {
  border-left: none;
}

.block ul {
  margin-top: 0;
  padding-left: 20px;
}